{% load static %}
<html>
    <head>
        <title> My CV </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'cv/cv.css' %}">
    </head>    
    <body>
        <div class="page-header">
            <a href="{% url 'post_list' %}" class="top-menu"><span class="glyphicon glyphicon-pushpin" data-toggle="tooltip" data-placement="left" title="Blog"></span></a>
            {% if user.is_authenticated %}
             <a href="{% url 'cv_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="Add new cv part"></span></a>
             <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
             <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock" data-toggle="tooltip" data-placement="left" title="Login"></span></a>
            {% endif %}
             <h1><a href="{% url 'cv_list' %}">My CV</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-4"  style="text-align: center;">
                    <h3>RAMA APRILLIANT QINOVARI</h3>
                    <br />
                    <div>
                        <p>The Pavilion Student Accommodation, 1st William St, Birmingham, UK<br />
                            B15 1LJ<br />
                            +44 7514681766<br />
                            Ramaaprilliant@gmail.com<br />
                            LinkedIn: Rama Qinovari<br />
                        </p>
                        <p>
                            I am a 3rd-year student at University of Birmingham and Gadjah Mada University double degree programme.
                            I am experienced in working on various applications, web development, and Start-Up. My project allows me to learn how to cooperate and communicate inside a team. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>